.connect-container {
    background-color: #f0f0f0;
    padding: 100px 0;
}

.connect-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.connect-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
    color:  black;
}

.connect-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.connect-content button {
    background-color: #fff;
    color: #222021;
    padding: 15px 30px;
    font-size: 1.2em;
    border:rgb(from color 166 25 46);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
}

.button:hover {
    background-color: #831324;
    color:#fff;
}
