.card-section {
  text-align: center;
  margin: 20px 0;
}

.card-row {
  display: flex;
  justify-content: space-between; 
  margin-top: 10px; 
}

.card {
  width: 200px; 
  margin-right: 20px; 
}

.card img {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 600px) {
  .card {
    width: calc(50% - 10px);
  }
}
  